.btn {
  position: relative;

  margin: 0 1.33rem;

  font-size: 1.8rem;

  background: none;
  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -.4rem;
    left: 0;
    z-index: 1;

    height: .2rem;
    width: 0;

    background-color: $black;

    transition: width .2s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    &::after {
      width: 100%;
    }
  }
}