.btn {
  display: inline-block;
  margin: 0 1.33rem;

  font-size: 1.8rem;

  background: none;
  border: none;
  cursor: pointer;

  &--nav {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -.4rem;
      left: 0;
      z-index: 1;

      height: .2rem;
      width: 0;

      background-color: $black;

      transition: width .2s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &--auth {
    padding: .8rem 1.4rem;

    color: $black;
    border: .1rem solid $blue;
    border-radius: $btn-radius;

    transition: background .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      color: $white;

      background-color: $blue;
    }
  }
}