.btn {
  display: inline-block;
  margin: 0 1.33rem;

  font-family: $baloo;
  font-size: 2rem;
  font-weight: 600;

  background: none;
  border: none;
  cursor: pointer;

  &--nav,
  &--create,
  &--back,
  &--upload {
    position: relative;
    top: 0;

    width: $btn-length;
    height: 3.6rem;

    font-size: 1.9rem;
    font-weight: 600;
    color: $white;

    background-color: $orange;
    border-radius: $btn-radius-nav;

    transition: box-shadow .1s ease-in-out, top .2s ease-in-out;

    &:hover,
    &--active {
      box-shadow: .07rem .07rem .5rem rgba(0, 0, 0, .5);
    }
  }

  &--back {
    width: 8rem;
  }

  &--create {
    width: calc($btn-length + 1rem);

    &--active {
      top: -1.4rem;
    }
  }

  &--createDir {
    display: block;
    width: 25%;
    padding: 0;

    background: $orange;
    border: none;
    border-left: .1rem solid $black;

    &:hover {
      cursor: pointer;
      background: rgba($orange, .8);
    }
  }


  &--auth {
    padding: .8rem 1.4rem;

    color: $black;
    border: .1rem solid $blue;
    border-radius: $btn-radius;

    transition: background .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      color: $white;

      background-color: $blue;
    }
  }

  &--upload {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}