.header {
  max-height: $header-height;
  padding: 1rem 0;

  background-color: $white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-left: 2.5rem;

  text-decoration: none;
}

.header__title {
  margin-left: 4.57rem;

  color: $black;
}

.header__sky {
  color: $blue;
}