.storage {
  position: relative;

  display: block;
  width: 100%;
  min-height: calc(100vh - $header-height);

  background: url("../../assets/images/bg.jpg") center no-repeat;
  background-size: cover;

}

.storage__inner {
  position: relative;
  top: calc($main-offset);

  display: flex;
  flex-direction: column;
  height: 92.1rem;

  background-color: $bg-blue;
  border-radius: $main-radius;
  box-shadow: .1rem .1rem 2.1rem .4rem rgba($black, 0.25);


  &--drag {
    box-shadow: .1rem .1rem 4rem .4rem rgba($black, 0.5);
    cursor: pointer;
  }
}

.storage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10.15rem;
  padding: 2rem 4rem;

  border-bottom: .1rem solid $white;
}

.storage__main {
  display: grid;
  grid-template-columns: 17fr 83fr;
  flex: 1;

  // overflow: scroll; 
}

.storage__aside {
  flex-basis: 16.67%;
  padding: 2rem;

  border-right: .1rem solid $white;
}

.storage__content {
  flex: 1;
  padding: 4rem 0;

  // overflow: scroll;
}

.storage__header__createDir {
  position: relative;
}

.storage__btns {
  display: flex;
  justify-content: space-around;
}

.storage__upload {
  display: none;
}