@import-normalize;

@import "vars";
@import "helpers";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  // font-size: 40%;
}

@font-face {
  font-family: 'PoetsenOne';
  src: url('../assets/fonts/PoetsenOne-Regular.ttf');
  font-weight: 400;
}

body {
  margin: 0;

  font-family: $poetsen;
  font-size: 1.5rem;
  color: $black;

  background-color: $blue;
}


// Blocks
@import "blocks/container.scss";
@import "blocks/logo.scss";
@import "blocks/header.scss";
@import "blocks/btn.scss";
@import "blocks/auth.scss";
@import "blocks/form.scss";
@import "blocks/storage.scss";
@import "blocks/file.scss";