@import-normalize;

@import "vars";
@import "helpers";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: $sans;
  font-size: 1.5rem;
  color: $black;

  background-color: $blue;
}


// Blocks
@import "blocks/container.scss";
@import "blocks/logo.scss";
@import "blocks/header.scss";
@import "blocks/btn.scss";
@import "blocks/auth.scss";
@import "blocks/form.scss";