$title: #181e4b;
$text: #5e6282;
$white: #fff;
$black: #080809;

$red: red;
$orange: #FF8F16;
$blue: #20c0ff;
$bg-blue: #57D0FF;
$green: #48DC3B;

$header-height: 5.6rem;
$main-offset: 5rem;
$container-width: 142rem;
// $container-width: 100rem;

$btn-radius-nav: 3.2rem;
$btn-radius: .7rem;
$main-radius: 2.6rem;

$sans: 'Open Sans', sans-serif;